.calendar {
  padding: 2rem 0;
}

.calendar-animation-overflow {
  overflow: hidden;
  position: relative;
  height: 28.75rem;
  padding: 0.75rem;
}

.calendar-animation-wrapper {
  width: 97.5%;
  height: 100%;
  position: absolute;
}

.calendar-week {
  display: flex;
}

.weekdays {
  display: flex;
  flex: 1;
  margin: 0 0.75rem;
}

.weekdays > div {
  text-transform: uppercase;
  flex: 1;
  text-align: center;
  font-weight: 500;
  color: var(--gray600);
}

.day {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0.25rem;
  height: 5rem;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.day:not(.day-is-future):hover {
  transform: translateY(-1px) scale(1.05);
  box-shadow: var(--box-shadow-md);
}

.day .calendar-add-post-button {
  box-shadow: var(--box-shadow-sm);
}

.day-no-minutes .calendar-add-post-button {
  background: var(--indigo50);
}

.day .day-link {
  background: var(--white);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-sm);
}

.day-has-minutes .day-link {
  background: var(--white);
  border-radius: 0.4rem;
  color: var(--gray700);
  font-size: 1.75rem;
}

.day-has-minutes:hover .day-link {
  color: var(--indigo700);
}

.day .day-date {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  font-size: 0.825rem;
}

.day .day-number {
  flex: 1;
  text-align: right;
  margin: 0 0.5rem;
}

.day .day-month {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0.5rem;
  color: var(--indigo700);
}

.day-minutes {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-minutes .calendar-add-post-button {
  font-size: 1.5rem;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray600);
  transition: all 0.2s ease;
}

.day-minutes .calendar-add-post-button:hover {
  color: var(--indigo700) !important;
  background: var(--white);
}

.day-minutes .calendar-add-post-button:active {
  background: var(--gray100);
}

.calendar-nav {
  display: flex;
  margin: 0.5rem 0;
}

.calendar-nav .icon-button {
  font-size: 1rem;
  color: var(--gray600);
  transition: color 0.2s ease;
}

.calendar-nav .icon-button:hover {
  color: var(--indigo700);
}
